<style>
    .content_post h2::before {
        content: "{{ .Site.Params.prefix.h2 }}";
    }

    .content_post h3::before {
        content: "{{ .Site.Params.prefix.h3 }}";
    }
</style>
<article class="content_post heti heti--ancient">
    {{ .Content }}
</article>
{{ if or .NextInSection .PrevInSection }}
<div class="content_post_button">
    {{ if .PrevInSection }}
    <button onclick="window.location.href = '{{ .PrevInSection.Permalink }}'">
        <span style="color: var(--primary-color);">{{ .PrevInSection.Title }}</span><br />
    </button>
    {{ end }}
    {{ if .NextInSection }}
    <button onclick="window.location.href = '{{ .NextInSection.Permalink }}'">
        <span style="color: var(--primary-color);">{{ .NextInSection.Title }}</span><br />
    </button>
    {{ end }}
</div>
<a class="back_top" href="#" onclick="window.scrollTo(0,0);return false;" aria-label="Back to top">
    <svg viewBox="0 0 24 24" width="32" height="32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M12 4l-8 8h5v8h6v-8h5z" fill="currentColor"></path>
    </svg>
</a>

{{ end }}